/* GENERAL */
body {
 background-color: lightgrey;
 color: black;
 font-family: 'Roboto', sans-serif;
}
 

h1 {
	display: block;
	text-align: center;
	padding-left: 5%;
 	padding-right: 5%;
	font-family: 'Prata', serif;
	font-size: 30pt
}

h2{
	font-family: 'Prata', serif;
	
}

h4{
	font-family: 'Roboto', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
}



/* NAV BAR */
.navBar {
	background-color: grey;
	display: flex;
		align-content: center;
		justify-content: flex-end;
	padding-right: 4%;
}

.navBar: hover{
	background: white;
	transition-duration: 1s
}

ul{
	list-style-type: none;
	overflow: hidden;
	display: flex;
		justify-content: flex-end;
	padding: 1%;
}

li{
	color: black;
	cursor: pointer;
	display: inline;
}

li a{
	text-decoration: none;
	color: black;
	padding: 1em;
}

a{
	width: 2%;
}
